.Banner{
    background-image: url("https://cdn.cdnparenting.com/articles/2020/02/03114800/MIX-FRUIT-JUICE-RECIPE.jpg");
    background-size: cover;
    margin-top: 20px;
  height: 100vh;
  font-size:50px;
  background-repeat:no-repeat; 
}
.text{
    font-size: 50px;
    color: gold;
    padding: 10px;
   
      
}
.text-banner{
    font-size: 50px;
    padding: 10px;
    color:white; 
      
}
.icons{
    font-size: 30px;
    display: flex;     
}
.icon{
    margin: 8px;
    color: rgb(145, 127, 28)
}

.button1{
    margin-left: 20px;
    background-color:goldenrod;
}